body {
  font-family: 'Segoe UI';
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

button {
  margin-top: 10px;
  padding: 8px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul li {
  cursor: pointer;
  margin: 5px 0;
}

.module {
  background: #1e293b;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
